/* RESPONSIVE MEET OUR TEAM */
/* This is what makes index.html responsive */

@media (max-width: 1100px) {

	.column_cards{
		grid-column: 1/11;
		grid-row: 1/35;
	}

}



 @media (max-width: 1000px) {

 	.column_cards{
		grid-column: 1/11;
		grid-row: 1/60;
	}

}



 @media (max-width: 800px) {

 	.column_cards{
		grid-column: 1/11;
		grid-row: 1/55;
	}

}


 @media (max-width: 600px) {

 	.column_cards{
		grid-column: 1/11;
		grid-row: 1/52;
	}


}

 @media (max-width: 450px) {

 	.column_cards{
		grid-column: 1/11;
		grid-row: 1/60;
	}


}

 @media (max-width: 350px) {

 	.column_cards{
		grid-column: 1/11;
		grid-row: 1/65;
	}


}

 @media (max-width: 300px) {

 .contents-grid {
	 grid-row: 5/30;
 }

 	.column_cards{
		grid-column: 1/9;
		grid-row: 1/70;
	}

	.about {
	padding: 2px;
	}

	.row {
		padding: -5px;
		margin: -5px;
	}


}
