/* INDEX.HTML HAMBURGERADJUSTMENTS */

.bar1, .bar2, .bar3{
  background-color: yellow !important;
}

#hamburgContainer{
  border: 1px solid yellow;
  border-radius: 5px;
  margin-bottom: 10px !important;
  padding: 10px !important;
  top: 20px !important;
}

.change .bar1 {
  -webkit-transform: rotate(-45deg) translate(-9px, 6px) !important;
  transform: rotate(-45deg) translate(-9px, 6px) !important;
  background-color: black !important;
}

.change .bar2 {opacity: 0 !important;}

.change .bar3 {
  background-color: black !important;
  -webkit-transform: rotate(45deg) translate(-8px, -8px) !important;
  transform: rotate(45deg) translate(-8px, -8px) !important;
}

.change #hamburgContainer{
  border: 1px solid black !important;
}

/* RESPONSIVE MEET OUR TEAM */
/* This is what makes index.html responsive */

@media (max-width: 1000px) {
  .item1f {
	grid-column:1/5;
	grid-row: 3/6;
  padding-left: 15px;
  padding-right: 10px;
	}

  .item2f {
	grid-column:6/11;
	grid-row:7/11;
  padding-right: 15px;
  }

  .item3f{
	grid-column: 1/5;
	grid-row: 12/16;
  padding-left: 15px;
  padding-right: 8px;
  }

  .item4f{
	grid-column: 1/11;
	grid-row: 18/20;
  padding-top: 20px;
  }

  #future {
    font-size: 38px;
    text-align: center;
  }

  .headline-FP > h1{
  font-size: 140px;
  padding-top: 60px;
  }

}

 @media (min-width: 500px) and (max-width: 635px) {

  .item1f{
	grid-column:1/5;
	grid-row: 1/5;
	}

  .item2f{
	grid-column:6/10;
	grid-row:7/11;
  }

  .item3f{
  grid-column: 1/5;
  grid-row: 13/22;
  }

  .item4f{
  grid-column: 1/11;
  grid-row: 22/25;
  padding-top: none;
  }

  #future {
    font-size: 38px;
    text-align: center;
  }

  .headline-FP > h1{
  font-size: 110px;
  padding-top: 60px;
  }
}

 @media (max-width: 500px) {
   .item1f{
	grid-column: 2/8;
	grid-row: 2/6;
  }

  .item2f{
	grid-column: 2/8;
	grid-row: 8/12;
  }

  .item3f{
	grid-column: 2/8;
	grid-row: 14/18;
  }

  .item4f{
	grid-column: 2/8;
	grid-row: 20/26;
  }

  #future {
    font-size: 38px;
    text-align: center;
  }

  .headline-FP > h1{
  font-size: 90px;
  padding-top: 60px;
  }

.item {
  text-align: center;
}
}


 @media (max-width: 300px) {

.headline-FP > h1 {
  font-size: 30vw;
  padding-top: 60px;
}

 .item {
   padding-top: 20px;
 }

 .item4f {
   grid-row: 25/29;
 }

 }
